.index-body {
  position: relative;
  // overflow: hidden;
  flex-direction: column;
  width: 100%;
  .card1-box {
    overflow: hidden;
    .card1 {
      display: flex;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100vh;
      background-color: white;
      background-image: url(../images/index/bg.webp);
      background-size: cover;
      background-repeat: no-repeat;
      flex-direction: column;
      align-items: center;
      mask-image: url(../images/index/cloud-mask_2.png);
      -webkit-mask-size: 0.1%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-size: 0.1%;
      mask-repeat: no-repeat;
      mask-position: center;

      .logo-box {
        width: 8.5vw;
        margin-top: 14vw;
        z-index: 10;

        @media all and (max-width: 1440px) {
          width: 10vw;
          margin-top: 10vw;
        }
        img {
          width: 100%;
        }
      }

      .title-box {
        font-family: "noto Serif TC";
        font-size: 0.9vw;
        color: #555757;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.2em;
        line-height: 2;
        z-index: 10;
        margin-top: 2vw;

        @media all and (max-width: 1440px) {
          font-size: 1.1vw;
        }
      }

      .arrow-box {
        width: 2.5vw;
        margin-top: 2.5vw;
        position: relative;
        z-index: 10;
        img {
          width: 100%;
        }
      }

      #top-cloud {
        position: absolute;
        top: 18vw;
        right: -8vw;
        width: 25vw;
        z-index: 99;
        pointer-events: none;
        max-width: 100%;
        animation: cloudAnimate calc(3s * var(--i)) linear infinite;
      }

      #middle-cloud {
        position: absolute;
        display: flex;
        width: 38vw;
        top: 35vw;
        pointer-events: none;
        left: 0vw;
        opacity: 0.4;
        animation: cloudAnimate3 calc(6s * var(--i)) linear infinite;
        z-index: 1;
      }

      .front-cloud1 {
        position: absolute;
        top: 35vw;
        left: 0vw;
        width: 70vw;
        z-index: 8;
        pointer-events: none;
        max-width: 100%;
        opacity: 0.7;
        animation: cloudAnimate calc(4s * var(--i)) linear infinite;
      }

      .front-cloud2 {
        position: absolute;
        top: 43vw;
        left: 50vw;
        width: 80vw;
        z-index: 8;
        pointer-events: none;
        max-width: 100%;
        opacity: 0.7;
        animation: cloudAnimate calc(4s * var(--i)) linear infinite;
        animation-delay: 0.3s;
      }

      .front-cloud3 {
        position: absolute;
        top: 45vw;
        left: 40vw;
        width: 60vw;
        z-index: 8;
        pointer-events: none;
        max-width: 100%;
        opacity: 0.3;
        animation: cloudAnimate calc(5s * var(--i)) linear infinite;
        animation-delay: 0.7s;
      }
    }
  }

  .card2 {
    background-image: url(../images/index/allbg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
    padding-top: 5vw;
    padding-bottom: 3vw;
    overflow: hidden;
    @keyframes treeAni-2 {
      0% {
        transform: rotate(0deg) skew(0deg, 0deg) scale(1);
      }

      100% {
        transform: rotate(-10deg) skew(5deg, 5deg) scale(1.05);
      }
    }

    @keyframes treeAni-1 {
      0% {
        transform: rotate(0deg) skew(0deg, 0deg) scale(1);
      }

      100% {
        transform: rotate(10deg) skew(5deg, 5deg) scale(1.05);
      }
    }

    @keyframes treeAni-3 {
      0% {
        transform: rotate(0deg) skew(0deg, 0deg) scale(1);
      }

      100% {
        transform: rotate(5deg) skew(5deg, 5deg) scale(1.05);
      }
    }

    .shadow1 {
      position: absolute;
      right: -1vw;
      top: -4vw;
      width: 56vw;
      mix-blend-mode: difference;
      opacity: 0.3;
      transform-origin: right top;
      z-index: 20;
      animation: treeAni-2 3s infinite alternate-reverse ease-in;
    }
    .shadow2 {
      position: absolute;
      left: 0px;
      bottom: 1vw;
      width: 29vw;
      mix-blend-mode: difference;

      opacity: 0.35;
      transform-origin: left top;
      animation: treeAni-1 3s infinite alternate-reverse ease-in;
    }
    .left-box {
      display: flex;
      flex-direction: column;

      .top-box {
        display: flex;
        z-index: 2;
        .img-box {
          display: flex;
          flex-direction: column;
          margin-right: 2.5vw;
          width: 50vw;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }
          .spotlight {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 20;
            width: 250%;
            height: 250%;
            background-image: radial-gradient(
              circle farthest-corner at center,
              rgba(255, 253, 228, 0.8),
              rgba(255, 253, 228, 0)
            );
            mix-blend-mode: screen;
          }
        }

        .title-box {
          display: flex;
          flex-direction: column;
          writing-mode: vertical-lr;
          color: #9e7c4a;
          font-family: "Noto Serif TC";
          font-weight: 600;
          font-size: 1.5vw;
          letter-spacing: 0.25em;
          margin-top: 1vw;
          .title1 {
            display: flex;
            margin-top: 2.5vw;
            margin-right: 1vw;
          }
          .title2 {
            position: relative;
            display: flex;
            flex-direction: column;

            .text {
              display: flex;
              position: relative;

              // &::after {
              //   content: "";
              //   position: absolute;
              //   width: 1px;
              //   bottom: -6vw;
              //   height: 5vw;
              //   background-color: #534741;
              //   left: 1vw;
              // }
            }
            .c2-line {
              width: 1px;
              left: 1vw;
              bottom: 11.7vw;
              height: 5vw;
              position: absolute;
            }
          }
        }
      }

      .bottom-box {
        display: flex;
        margin-top: 2.5vw;
        padding-left: 15vw;
        position: relative;
        .circle {
          width: 26vw;
          position: absolute;
          top: -11vw;
          left: 30vw;
          z-index: 1;
        }

        @keyframes rotate {
          to {
            offset-distance: 100%;
          }
        }

        li {
          top: -11vw;
          left: 30vw;
          z-index: 1;
          position: absolute;
          aspect-ratio: 1 / 1;
          border: none;
          // opacity: 0;
          border-radius: 50%;
          display: grid;
          grid-area: 1 / 1;
          // place-self: center;
          width: 26vw;

          &::after {
            content: "";
            animation: rotate 7s linear infinite;
            aspect-ratio: 1 / 1;
            background-image: url(../images/index/circle_item.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            offset-path: content-box;
            width: 1vw;
          }
        }
        // .circle-1 {
        //   stroke-dasharray: 320;
        //   animation: 2s draw infinite;
        // }

        @keyframes draw {
          0% {
            stroke-dashoffset: 320;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
        .circle-item {
          position: absolute;
          top: 13.65vw;
          left: 47vw;
          width: 1vw;
        }
        .content {
          @include content();
          writing-mode: tb-rl;
          line-height: 2.5;
          z-index: 2;
        }
        .content-clip-text {
          div {
            display: flex !important;
          }
        }
        .img-box {
          margin-left: 11vw;
          margin-top: -13.7vw;
          width: 23.5vw;
          height: 21vw;
          background-image: url(../images/index/allbg.webp);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          padding: 0.5vw;
          z-index: 5;
          display: flex;
          flex-direction: column;
          position: relative;

          overflow: hidden;
          .spotlight {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 30;
            width: 250%;
            height: 250%;
            background-image: radial-gradient(
              circle farthest-corner at center,
              rgba(255, 253, 228, 0.8),
              rgba(255, 253, 228, 0)
            );
            mix-blend-mode: screen;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .right-box {
      display: flex;
      flex-direction: column;
      padding-top: 7vw;
      writing-mode: tb-rl;

      .en-title {
        display: flex;
        @include enTitle();
        .en-title-clip-text {
          margin-bottom: 0.5vw;
        }
      }
      .zh-title {
        @include zhTitle();
      }
    }
  }

  .card3 {
    display: flex;
    width: 100%;
    background-image: url(../images/index/A2A2735.webp);
    background-size: 120%;

    background-repeat: no-repeat;
    background-color: rgba(58, 58, 58, 0.5);
    background-blend-mode: multiply;
    background-position: 100% 55%;
    position: relative;
    .left-box {
      display: flex;
      margin-left: 10vw;
      width: 68%;
      .c3-main-swiper {
        display: flex;
        width: 100%;
        .card3-main-swiper {
          display: flex;
          position: relative;
          width: 100%;
          .swiper-slide {
            width: 100%;
            overflow: hidden;
            display: flex;
            position: relative;

            .content-swiper-box {
              width: 40vw;
              display: flex;
              overflow: hidden;

              .swiperrr {
                width: 100%;
                display: flex;
                overflow: hidden;
              }
              .card3-swiper {
                display: flex;
                overflow: hidden;
                position: relative;
                width: 100%;

                .swiper-slide {
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  img {
                    display: block;
                    width: 100%;
                    object-fit: cover;
                  }
                }

                .swiper-pagination-bullet-active {
                  background-color: #fff !important;
                }

                .swiper-pagination-bullet {
                  width: 0.5vw !important;
                  height: 0.5vw !important;
                  border-radius: 50% !important;
                  margin-right: 10px !important;
                  min-width: 8px;
                  min-height: 8px;
                  background-color: #ffffff63;
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .project-content-box {
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 10vw;
        padding-top: 9vw;
        .project-title {
          font-size: 1.9vw;
          font-family: "Noto Serif TC";
          writing-mode: vertical-lr;
          letter-spacing: 0.3em;
          position: relative;
          padding-bottom: 2vw;

          margin-left: -0.5vw;
          &::after {
            content: "";
            position: absolute;
            width: 78%;
            bottom: 0vw;
            height: 1px;
            background-color: #fff;
            left: 0.5vw;
          }
        }
        .content {
          @include content();
          color: white;
          line-height: 2.5;
          padding-top: 2vw;
        }
        .more-btn {
          color: #d6ad72;
          font-weight: 600;
          font-family: "Cormorant Garamond";
          letter-spacing: 0.1em;
          font-size: 1.2vw;
          margin-top: 2vw;
        }
      }
    }
    .right-box {
      display: flex;
      flex-direction: column;
      padding-top: 10vw;
      writing-mode: tb-rl;
      margin-left: 6vw;
      .en-title {
        display: flex;
        @include enTitle();
        color: white;
        .en-title-clip-text {
          margin-bottom: 0.5vw;
        }
      }

      .zh-title {
        @include zhTitle();
        color: white;
      }
    }
    .c3-main-pagination {
      position: absolute;
      bottom: 1vw;
      right: 0px;
      color: white;
      font-family: "Jost", sans-serif;
      padding-right: 2.5vw;
      align-self: end;
      text-align: end;
      font-size: 0.6vw;
      font-style: italic;

      .swiper-pagination-current {
        font-size: 1.5vw;
        font-weight: 500;
        font-style: normal;
        position: absolute;
        top: -0.9vw;
        right: 3.5vw;
      }
      .swiper-pagination-total {
        font-weight: 500;
        margin-left: 0.3vw;
        font-size: 1vw;
        position: absolute;
        top: -0.35vw;
        right: 1.35vw;

        font-style: normal;
      }
    }
  }

  .card4 {
    display: flex;
    background-image: url(../images/index/allbg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 5vw;
    padding-bottom: 10vw;
    position: relative;
    justify-content: space-evenly;
    // padding-left: 8.5vw;
    .shadow3 {
      position: absolute;
      left: 0px;
      top: -4vw;
      width: 43vw;
      mix-blend-mode: difference;
      opacity: 0.4;
      z-index: 20;
      transform-origin: left top;
      animation: treeAni-3 3s infinite alternate-reverse ease-in;
    }

    .title-box {
      display: flex;
      flex-direction: column;

      writing-mode: tb-rl;
      .en-title {
        display: flex;
        @include enTitle();
        .en-title-clip-text {
          margin-bottom: 0.5vw;
        }
      }

      .zh-title {
        @include zhTitle();
      }
    }
    .content-img-box {
      display: flex;
      position: relative;
      flex-direction: column;

      width: 37vw;
      align-self: center;
      margin-top: 4.5vw;

      .img-box {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 22vw;
        img {
          width: 100%;
          position: absolute;
          object-fit: cover;
          height: 22vw;

          top: 0;
          left: 0;
          opacity: 0;
        }
      }

      .news-btn-box {
        position: absolute;
        right: -3vw;
        bottom: -2.7vw;
        z-index: 40;
        width: 8.5vw;
        color: white;
        &::after {
          content: "";
          position: absolute;
          width: 64%;
          height: 1px;
          background-color: #fff;
          top: 4.25vw;
          left: 1.5vw;
        }
        .news-btn {
          width: 100%;
        }
        .date-title {
          position: absolute;
          font-family: "Cormorant Garamond";
          top: 2.4vw;
          left: 3vw;
          letter-spacing: 0.13em;
          font-size: 1.15vw;
        }

        .date {
          position: absolute;
          top: 4.7vw;
          left: 1.9vw;
          letter-spacing: 0.13em;
          font-size: 0.9vw;
          font-family: "Jost", sans-serif;

          opacity: 0;
          span {
            font-size: 0.65vw;
            margin-left: 0.2vw;
          }
        }
      }
    }

    .news-list-box {
      display: flex;
      padding-top: 4vw;
      .news-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0vw 1.5vw;
        border-right: 1px solid #534741;
        cursor: pointer;
        .news-title {
          writing-mode: tb-rl;
          font-family: "Noto Serif TC";
          letter-spacing: 0.35em;
          color: #534741;
          font-weight: 600;
          font-size: 1.1vw;
        }
        .order {
          color: #9e7c4a;
          font-family: "Jost", sans-serif;
          font-weight: 500;
          margin-top: 10vw;
          font-size: 1.1vw;
        }
      }
    }
  }
}
